
li {font-size:14pt;color:#FFFFFF;font-family:Monaco}
p {font-size:16pt;color:#FFFFFF;font-family:Monaco}
h1 {font-size:40pt;color:#FFFFFF;font-family:Monaco}
td {font-size:16pt;color:#FFFFFF;font-family:Monaco}
.special {font-size:14pt; color:#FFFFFF;font-family:Monaco;width:150px}
BODY {background-color:#BEF781}
a {font-size:14pt;color:#FFFF00;font-family:Monaco;text-decoration:none}
table { background-color: #04B4AE}
table.center {margin-left:auto; margin-right:auto;}
h1{margin-bottom:0;}
ul{margin-top:0;}
